.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  border-bottom: 2px solid white;
  /* min-width: 1200px; */
}

@media (min-width: 1200px) {
  .header {
    min-width: 1200px;
  }
}
