.name {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
}
.number {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
}

.container {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px;
  padding: 5px;
  width: 320px;
}
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.btn {
  cursor: pointer;
  display: flex;
  margin-left: 5px;
  padding: 6px;
  color: white;
  background-color: rgb(23, 21, 21);
  border-radius: 5px;
  border: none;
}

.btn:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.icon {
  color: white;
}

.iconEdit {
  font-size: 22px;
  color: white;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
}
.iconEdit:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
