.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-top: 120px;
}

.title {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}
.paragraph {
  font-size: 18px;
}
